<footer class="nautile-global-footer footer">
    <div class=container>
        <div class="footer-wraper disposition-vertical">
            <section class=back-to-top-wrapper><button class=back-to-top data-toggle=tooltip title="Vers le haut">
                    <i class=material-icons>keyboard_arrow_up</i></button></section>
            <section class="footer-social-section disposition-horizontal d-none d-md-inline-flex row">
                <%=image_tag("ring-sauron.png", alt: "logo", class: "rounded-circle", height: "120px", width: "140px")%>
                <span class="footer-social-overlap footer-social-connect">This is the Master-ring, the One Ring to rule them all</span>
                <span class="footer-social-overlap footer-social-icons-wrapper"></span>
            </section>
            <section class="footer-content-section row mt-1 mt-md-4 mt-lg-4 no-gutters halign-space-between row">
                <div class="col-11 d-inline d-md-none d-lg-none mt-2 mb-4 center footer-social-overlap footer-social-icons-wrapper"></div>
            </section>
            <section class="footer-bottom-section mt-2 mt-md-4 mt-lg-5 pt-1 row">
                <div class="col-12 col-md-6 col-lg-6 footer-bottom-wrapper text-center text-md-left text-lg-left p-0">
                    Made by <a href="https://www.nautile.nc"><span class=outlined>Nautile.nc</span></a> Internet. Téléphonie. Télévision.</div>
            </section>
        </div>
</footer>